extends layout

block index
    h1= message
    h2= error.status
    pre #{error.stack}
block nav
    h1= message
    h2= error.status
    pre #{error.stack}
block registration
    h1= message
    h2= error.status
    pre #{error.stack}
block calculator
    h1= message
    h2= error.status
    pre #{error.stack}
block footer
    h1= message
    h2= error.status
    pre #{error.stack}
block cataloges
    h1= message
    h2= error.status
    pre #{error.stack}